<% include header %>
<div class="outer">
  <section id="main">
    <article id="<%= item.id %>" class="article article-type-post"
    itemscope="" itemprop="blogPost">
      <div class="article-inner">
        <header class="article-header">
          <h1 itemprop="name">
            <a class="article-title" href="/categories/<%= item.id %>.html">
              <%= item.title %>
            </a>
          </h1>
        </header>
        <footer class="article-footer">
          <ul class="article-time-list">
            <li class="article-time-list-item">
              <a class="article-time-list-link" href="/archive.html">
                <%=: item.create_time | formatDate %>
              </a>
            </li>
          </ul>
          <br/>
          <ul class="article-category-list">
            <li class="article-category-list-item">
              <a class="article-category-list-link" href="/category.html">
                <%= item.category %>
              </a>
            </li>
          </ul>
          <br/>
          <ul class="article-tag-list">
            <% item.tags.forEach(function(tag) { %>
              <li class="article-tag-list-item">
                <a class="article-tag-list-link" href="/tag.html">
                  <%= tag %>
                </a>
              </li>
            <% }) %>
          </ul>
        </footer>
        <div class="article-entry" itemprop="articleBody">
          <%- item.content %>
        </div>
        <div id="disqus_thread"></div>
      </div>
    </article>
  </section>
</div>
<% include footer %>
