<% include header %>
<div class="outer">
  <section id="main">
    <section class="archives-wrap">
      <% for(var i in years) { %> 
        <div class="archive-year-wrap">
          <a href="/<%= site.path %>/archives/<%= years[i] %>.html" class="archive-year">
            <%= years[i] %>
          </a>
        </div>
        <div class="archives">
          <% chapters[years[i]].forEach(function(chapter) { %> 
            <article class="archive-article archive-type-post">
              <div class="archive-article-inner">
                <header class="archive-article-header">
                  <a href="#" class="archive-article-date">
                    <time datetime="2014-04-05T13:29:00.000Z" itemprop="datePublished">
                      <%= chapter.date %>
                    </time>
                  </a>
                  <h1 itemprop="name">
                    <a class="archive-article-title" href="/<%= site.path %>/<%= chapter.path %>.html">
                      <%= chapter.title %>
                    </a>
                  </h1>
                </header>
              </div>
            </article>
          <% }) %>
        </div>
      <% } %>
    </section>
  </section>
</div>
<% include footer %>
<!-- vim: set expandtab sw=2 ts=2 : -->
