        <footer id="footer">
          <div class="outer">
            <div id="footer-info" class="inner">
              <%= site.copyright %>
              <br>
              Powered by
              <a href="https://github.com/zhangxiaoyang/fow" target="_blank">
                Fow
              </a>
            </div>
          </div>
        </footer>
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
      <script src="/themes/<%= site.theme %>/js/jquery.scrollUp.min.js" type="text/javascript"></script>
      <script src="/themes/<%= site.theme %>/js/jquery.transform.js" type="text/javascript"></script>
      <script src="/themes/<%= site.theme %>/js/menu.js" type="text/javascript"></script>
      <script src="/themes/<%= site.theme %>/js/script.js" type="text/javascript"></script>
      <script src="/themes/<%= site.theme %>/js/scrollUp.js" type="text/javascript"></script>
      <% include ../plugins/footer_plugin %>
    </div>
  </body>
</html>
